$beige: rgb(245, 245, 220);
$beige2: rgb(236, 236, 192);
$brown: rgb(110, 90, 62);
$brown2: rgb(88, 72, 50);
$brown3: rgb(78, 64, 42);
$green: rgb(154, 202, 154);
$green2: rgb(139, 189, 139);
$green3: rgb(94, 138, 94);

.main-wrapper {
    min-height: 80vh;
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }

.table {
    border-collapse: separate;
    border-spacing: 20px;
}

.img-tienda {
    width: 250px;
    height: 250px;
}

.img-receta {
    width: 400px;
    height: 400px;
}

.bg-beige {
    background-color: $beige;
}

.bg-green {
    background-color: $green2;
}

.green-nav {
    background-color: $green;
}

.text-brown {
    color: $brown;
}

.text-dbrown {
    color: $brown2;
}

.text-main {
    color: $brown3;
}

h2, h3 {
    padding: 20px;
}

.text-apply {
    text-decoration: none;
    color: $green3;
}

.style-link {
    text-decoration: none;
    color: $brown2;
}

header {
    background-color: $green2;
        h1 {
            height: 70px;
            padding-top: 15px;
            color: $brown;
        }
        nav {
            div {
                background-color: $green;
            }
        }
}

#navbar-style {
    a {
        color: $brown2;
        &:hover {
            font-size: 17px;
        }
    }
}

.text-inicio {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: justify;
}

.div-menu {
    background-color: $beige2;
    width: 400px;
    border-radius: 15px;
    padding-top: 15px;
    text-align: center;
    ul {
        text-align: justify;
    }
}

.div-staff {
    grid-column: span 1;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: $beige2;
    .img-staff {
        width: 220px;
        height: 290px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    p {
        padding: 2px;
    }
    .nombre-staff {
        font-size: large;
    }
}

#lista-recetas {
        li {
            list-style: circle;
            color: $brown3;
                a {
                    text-decoration: none;
                    color: $brown3;
                    transition: 0.2s;
                        &:hover {
                            color: $green3;
                            font-size: 17px;
                        }
                }
        }
}

#spotify {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formulario {
    margin-top: 40px;
    #contact-form {
        margin-top: 20px;
            div {
                margin: 2px;
            }
    }
    #button {
        background-color: $green2;
        border-color: $green;
        color: $beige;
        margin: 10px;
    }
    p {
        padding-bottom: 40px;
    }
}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
    div {
        top: 32px;
        left: 32px;
        position: absolute;
        width: 32px;
        height: 32px;
        background: $green;
        animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
            &:after {
                content: " ";
                position: absolute;
                display: block;
                width: 32px;
                height: 32px;
                background: $green;
                top: -24px;
                border-radius: 50% 50% 0 0;
            }
            &:before {
                content: " ";
                position: absolute;
                display: block;
                width: 32px;
                height: 32px;
                background: $green;
                left: -24px;
                border-radius: 50% 0 0 50%;
            }
      }
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }

@mixin grid-mobile {
    display: grid;
    grid-template-columns: 1;
}

  @media (max-width: 767px) {
    .text-inicio {
        margin-left: 15px;
        margin-right: 15px;
    }
    .img-receta {
        width: 100%;
    }
    .receta {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .container-staff {
        @include grid-mobile;
        .div-staff {
            width: 100%;
            align-self: center;
            text-align: justify;
            margin-bottom: 30px;
            p {
                margin: 10px;
            }
        }
    }
    .text-about {
        margin: 15px;
        text-align: justify
    }
    .container-menu {
        @include grid-mobile;
        .div-menu {
            width: 100%;
            padding-top: 0;
            padding-bottom: 20px;
            border-radius: 0;
            .img-menu {
                width: 100%;
                height: 280px;
            }
        }
    }
    .container-fluid, .col-md-auto {
        padding: 0;
    }
    .navbar {
        margin-left: 12px;
    }
    #lista-recetas {
        margin-left: 12px;
    }
  }

@media (min-width: 768px) {
    .container-staff {
        display: grid;
        grid-template-columns: 220px 220px;
        justify-content: space-evenly;
    }
    .text-about {
        margin-left: 30px;
        margin-right: 30px;
        text-align: justify;
    }
    .container-menu {
        display: grid;
        grid-template-columns: 375px 375px;
        justify-content: space-evenly;
        .div-menu {
            margin-bottom: 30px;
            .img-menu {
                width: 350px;
                height: 280px;
                border-radius: 15px;
            }
        }
    }
}

@media (min-width: 992px) {
    .container-staff {
        display: grid;
        grid-template-columns: 220px 220px 220px 220px;
        justify-content: space-evenly;
     }
     h3 {
        margin-left: 40px;
     }
    .text-about {
        margin-left: 100px;
        margin-right: 100px;
        text-align: justify;
    }
    header {
        nav {
            div {
                height: 40px;
            }
        }
    }
    .container-menu {
        display: grid;
        grid-template-columns: 400px 400px;
        justify-content: space-evenly;
        .div-menu {
            margin-bottom: 50px;
            .img-menu {
                width: 375px;
                height: 300px;
                border-radius: 15px;
            }
        }
    }
}