/*.main-wrapper {
    min-height: 80vh;
}
/*
.bg-beige {
    background-color: beige;
}

.bg-green {
background-color: rgb(139, 189, 139);
}

.green-nav {
    background-color: rgb(154, 202, 154);
}

.text-brown {
    color: rgb(110, 90, 62);
}

.text-dbrown {
    color: rgb(88, 72, 50);
}

.text-main {
    color: rgb(78, 64, 42);
}

.text-recetas {
    text-decoration: none;
    color: rgb(78, 64, 42);
}

.text-apply {
    text-decoration: none;
    color: rgb(94, 138, 94);
}

.style-link {
    text-decoration: none;
    color: rgb(88, 72, 50);
}

.img-menu {
    width: 300px;
    height: 240px;
}

.img-staff {
    width: 220px;
    height: 290px;
}

.img-tienda {
    width: 250px;
    height: 250px;
}

.table {
    border-collapse: separate;
    border-spacing: 20px;
}

.img-receta {
    width: 400px;
    height: 400px;
}
/*
.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #dfc;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #dfc;
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
  */