.main-wrapper {
    min-height: 80vh;
}
/*
.bg-beige {
    background-color: beige;
}

.bg-green {
background-color: rgb(139, 189, 139);
}

.green-nav {
    background-color: rgb(154, 202, 154);
}

.text-brown {
    color: rgb(110, 90, 62);
}

.text-dbrown {
    color: rgb(88, 72, 50);
}

.text-main {
    color: rgb(78, 64, 42);
}

.text-recetas {
    text-decoration: none;
    color: rgb(78, 64, 42);
}

.text-apply {
    text-decoration: none;
    color: rgb(94, 138, 94);
}

.style-link {
    text-decoration: none;
    color: rgb(88, 72, 50);
}
*/
.size-foto-menu {
    width: 300px;
    height: 240px;
}

.size-foto-staff {
    width: 220px;
    height: 290px;
}

.table {
    border-collapse: separate;
    border-spacing: 20px;
}

.img-receta {
    width: 400px;
    height: 400px;
}